<section class="container">
  <%= form_with model: @card, html: { class: 'form'} do |f|%>
    <div>
      <div class='field'>
        <%= f.label :name%>
        <%= f.text_field :name %>
        <p class=' text-red-600'><%= @card.errors.full_messages_for(:name).first if @card.errors.any? %></p>
      </div>

      <div class='field'>
        <%= f.label :cpf%>
        <%= f.text_field :cpf %>
        <p class=' text-red-600'><%= @card.errors.full_messages_for(:cpf).first if @card.errors.any? %></p>
      </div>
      <div class="w-full">
        <%= f.submit 'Gerar' %>
      </div>
    </div>
  <%end%>
</section>
