<!DOCTYPE html>
<html>
  <head>
    <title>CreditCardsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Cartoes', cards_path %>
        <% if admin_signed_in? %>
          <%= current_admin.email %>
          <%= button_to 'Sair', destroy_admin_session_path, method: 'delete'%>
          <%= link_to 'Gerador de cartão', new_card_path %>
        <% else %>
          <%= link_to 'Entrar', new_admin_session_path, class:'text-green-600 hover:text-green-700' %>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
